name: Deploy Backend Bida

on:
  push:
    branches:
      - main # Hoặc master tùy bạn dùng nhánh nào

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.REMOTE_PORT }}
          script: |
            cd ${{ secrets.TARGET_DIR }}
            git fetch --all
            git reset --hard origin/main
            npm install --production
            npx prisma generate
            npx prisma migrate deploy
            # Restart bằng file ecosystem nếu có, hoặc dùng name
            pm2 restart bida-be || pm2 start ./src/server.js --name bida-be
            pm2 save
